<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Sign In</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href="handson.css">
        <script src="js/handson.js"></script>
    </head>
    <body ng-controller="StudentController as studentCtrl">
        <div id="sidebar">  <!-- Side navigation of website -->
            <a href="index.html">
                <img id="otago_logo" src="assets/logo.png" alt="University of Otago">
            </a>
            <br>
            <a href="signup.html">Sign Up</a>
            <br>
            <a href="Login.html">Log In</a>
            <br>
            <a href="projects.html">Departments</a>
            <br>
        </div>

        <div id="header"> <!-- Breadcrumbs for further navigation -->
            <ul id="breadcrumbs">
                <li><a href="index.html">Home</a></li>
                <li>Log In</li>
            </ul>
        </div>

        <div id='page'>
            <div id="login_form">
                <p style="text-align:center;">{{studentCtrl.signInMessage}}</p>
                <form ng-submit="studentCtrl.signIn(username, password)">
                    <fieldset>
                        <legend>Log In:</legend>
                        <input type="text" id="username" name="username" placeholder="Username" ng-model="username" required>
                        <br>
                        <input type="password" id="password" name="password" placeholder="Password" ng-model="password" required>
                        <br>
                        <input type="submit" value="Sign in"> 
                    </fieldset>      
                </form>
            </div>
        </div>
        
    </body>
</html>
